@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$bery-dark-gray: hsl(0, 0%, 41%);

// Fonts

$alata-font: "Alata", sans-serif;
$josefin-sans: "Josefin Sans", sans-serif;

// Font Weights

$font-weight-300: 300;
$font-weight-400: 400;
