@import "variables";
@import "mixins/flex";

.hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include flex(flex, row, flex-start, center, 0);
  padding-left: 5.3125rem;
  padding-top: 6rem;

  &__title {
    color: $white;
    font-size: 4.375rem;
    font-family: $josefin-sans;
    text-transform: uppercase;
    width: 50rem;
    padding: 3.125rem 14.25rem 3.125rem 3.25rem;
    line-height: 70px;
    border: 0.125rem solid $white;
  }
}

@media (width <= 850px) {
  .hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include flex(flex, row, center, center, 0);

    padding: 0 2.25rem 0 2.25rem;

    &__title {
      width: 55rem;
      font-size: 2.75rem;
      padding: 1.25rem 5rem 1.25rem 1.25rem;
    }
  }
}
